/* Bio */

/* Desktop styles */

.hp-cv-prompt,
.hp-research-prompt {
  margin-top: 1em;
  color: black;
  text-align: center;
  background: darken($gray-lighter, 10%);
  border: 0;
}

.hp-cv-prompt:hover,
.hp-research-prompt:hover {
  background: $gray-light;
}

.hp-edu-title {
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: $font-size-base;
}

.hp-edu-description {
  margin-bottom: 0.75em;
  margin-top: 2px;
  font-size: $font-size-small;
}

/* Moderate screen styles */
@media (max-width: $screen-desktop) {

}
