/* Interests section styles */

/* Desktop styles */
.hp-interest-icon {
  @extend .img-responsive;
}

.hp-interests-blog-list {
  list-style: square;
}

.hp-interests-blog-list-item {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/* Moderate screen styles */
@media (max-width: $screen-desktop) {

  .hp-interest-intro
  {
    font-size: $font-size-base;
  }

  .hp-interest-icon {
    width: 70%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }

}

/* Moderate screen styles */
@media (max-width: $screen-phone) {
  .hp-interest-icon {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
