/* Research */

/* Desktop styles */
.hp-research {
  margin-top: 2em;
}

.hp-research-icon {
  height: 6em;
  margin: 1em auto;
}

.hp-research-topic-intro {
  font-size: $font-size-large;
}

/* Moderate screen styles */
@media (max-width: $screen-desktop) {
  .hp-research-topic-intro
  {
    font-size: $font-size-base;
  }

}
