/* Research */

/* Desktop styles */
.hp-research {
  margin-top: 2em;
}

.hp-research-icon {
  height: 6em;
  margin: 1em auto;
}

.hp-research-topic-intro {
  font-size: $font-size-large;
}

.hp-research-splash blockquote,
.hp-research-goal blockquote {
  font-size: $font-size-large;
  font-weight: 400;
  border: none;
  background-color: $gray-lighter;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.hp-research-splash blockquote::after,
.hp-research-goal blockquote::after {
  content: '\201D';
  color: $gray-light;
}

.hp-research-splash blockquote::before,
.hp-research-goal blockquote::before {
  content: '\201C';
  color: $gray-light;
}

.hp-research-links .list-group-item {
  background-color: $gray-lighter;
  border: none;
}

/* Moderate screen styles */
@media (max-width: $screen-desktop) {
  .hp-research-topic-intro
  {
    font-size: $font-size-base;
  }

}
