/* Splash */

.hp-splash,
.hp-research,
.hp-bio,
.hp-contact,
.hp-interests,
.hp-apps {
  margin-top: 2em;
}

.hp-topic-title-div h1 {
  font-size: $font-size-base;
  color: $gray-light;
  margin-top: 0em;
}

.hp-splash-intro,
.hp-research-intro,
.hp-contact-content,
.hp-bio-content,
.hp-blog-list-content,
.hp-apps-content, {
  padding: 0em 2em 1.75em 2em;
}

.hp-apps-content p {
  margin-bottom: 1.5em;
}

.hp-app-splash p {
  margin-top: 0.5em;
}

/* Moderate screen styles */
@media (max-width: $screen-desktop) {

}

/* Medium screen styles */
@media (max-width: $screen-tablet) {

}

/* Small screen styles */
@media (max-width: $screen-phone) {

}
