---
layout: default
title: Harshad Paranjape | Blog
root: .
---

<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand"><a href="{{page.root}}/">Harshad Paranjape</a> | Blog</span>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="{{page.root}}/research.html">Research</a></li>
        <li><a href="{{page.root}}/blog.html">Blog</a></li>
        <li><a href="mailto:hi@hm.paranja.pe"><span class="hp-nav-email">Email</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Container -->
<div class="container hp-blog">

  {% for post in site.posts %}
  <div class="row hp-blog-row">
    <div class="col-md-10 hp-blog-post-excerpt">

      <a href="{{ page.root }}/{{ post.url }}"><h1>{{ post.title }}</h1></a>
      <div class="hp-blog-subtitle">

        <p class="hp-blog-subtitle-item small">{{ post.date | date: '%B %d, %Y' }}</p>
        {% if post.categories contains 'new' %}
        <span class="hp-blog-subtitle-item small hp-blog-post-new-tag">New</span>
        {% endif %}

      </div>

      {% if post.categories contains 'photo-story' %}
        <img src="{{ page.root }}/{{ post.splash }}" class="img-responsive" alt="Blog post splash" />
        <p>
          {{ post.lead }}
        </p>
      {% else %}
        {{ post.excerpt }}
      {% endif %}

      <p><a href="{{ page.root }}/{{ post.url }}">Read more &rarr;</a></p>

      <div class="hp-blog-subtitle hp-blog-post-tail">

        <ul class="list-inline hp-blog-subtitle-item">
          {% for category in post.categories %}
          <li class="hp-blog-category">{{ category }}</li>
          {% endfor %}
        </ul>

        <div class="hp-blog-share-buttons pull-right hp-blog-subtitle-item">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ post.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
          <a href="mailto:?Subject=Interesting blog article&amp;Body=I%20saw%20this%20and%20thought%20you%20would%20like%20it!%20 - {{ site.url }}{{ post.url }}">Email</a>
        </div>

      </div>

    </div>
  </div>
  {% endfor %}

  <!-- Footer -->
  <div class="row hp-footer">
    <div class="col-xs-12">

      <p class="text-center hp-footer-content">&copy; 2015, Harshad Paranjape</p>

    </div>
  </div>

</div><!-- /.container -->
