<!-- build:js(app) {{ page.root }}/js/script.js -->
<script src="/_bower_components/jquery/dist/jquery.min.js"></script>
<script src="/_bower_components/matchHeight/jquery.matchHeight-min.js"></script>
<script src="/_bower_components/svgeezy/svgeezy.min.js"></script>
<script src="/_bower_components/lightbox2/dist/js/lightbox.min.js"></script>
<script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="/_bower_components/picturefill/dist/picturefill.min.js"></script>
<script src="/_bower_components/lazysizes/lazysizes.min.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
