<!-- build:js(app) {{ page.root }}/js/script.js -->
<script src="/_bower_components/jquery/dist/jquery.min.js"></script>
<script src="/_bower_components/svgeezy/svgeezy.min.js"></script>
<script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
<script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
<script src="/_bower_components/lazysizes/lazysizes.min.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
